$font-weights: (
	"regular": 500,
	"bold": 800,
);

$red: hsl(1, 90%, 64%);
$blue: hsl(219, 85%, 26%);
$body-color: hsl(210, 60%, 98%);
$card-bck: hsl(0, 0%, 100%);
$Very-dark-blue: hsl(219, 12%, 42%);
