@use "abstracts" as *;
@use "mixins" as *;

// $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
// &&&&&&&&&&&&&&___GENERALS___$$$$$$$$$$$$$$$$$$$$$$$$$$
// $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$

* {
	box-sizing: border-box;
	font-family: "Plus Jakarta Sans", sans-serif;
	font-size: 16px;
}

body {
	background-color: $body-color;
}

// $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
// &&&&&&&&&&&&&&___MAIN CARD___$$$$$$$$$$$$$$$$$$$$$$$$$
// $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$

.card {
	margin: 3.5rem auto;
	width: 50vw;
	background-color: $card-bck;
	border-radius: 17px;
	padding: 1.5rem;
}

.nav {
	display: flex;
	justify-content: space-between;
}

h1 {
	font-weight: map-get($font-weights, bold);
	font-size: 1.5rem;
}

.nr-not {
	margin-left: 1rem;
	padding: 0.1rem 0.5rem;
	border-radius: 5px;
	font-size: 1rem;
	color: white;
	background-color: $blue;
}
