// $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
// &&&&&&&&&&&&&&___GENERALS___$$$$$$$$$$$$$$$$$$$$$$$$$$
// $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$

@use "abstracts" as *;
@use "mixins" as *;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Plus Jakarta Sans", sans-serif;
	font-size: 16px;
}

body {
	background-color: pink;
}

.card {
	margin: 3.5rem auto;
	width: 50vw;
	background-color: $card-bck;
	border-radius: 17px;
	padding: 1.5rem;
	padding-bottom: 0;
	word-spacing: 0.13rem;
}

// $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
// &&&&&&&&&&&&&&___MAIN CARD___$$$$$$$$$$$$$$$$$$$$$$$$$
// $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
//
//
//
// ______________NAVIGATION______________________________

.nav {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem;
}

h1 {
	font-weight: map-get($font-weights, bold);
	font-size: 1.5rem;
	display: flex;
	align-items: center;

	.nr-not {
		margin-left: 1rem;
		padding: 0.1rem 0.5rem;
		border-radius: 5px;
		font-size: 0.9rem;
		color: white;
		background-color: $blue;
	}
}

#marked {
	align-self: center;
	font-size: 0.85rem;

	&:hover {
		@include hover;
	}
}

// ______________COMMENT______________________________
//
//
//

.cm-section {
	@include grid;
}

.comment {
	width: 47vw;
	@include grid;
	grid-template-areas: "header header" ". priv";
	margin: 0.7rem 0;
	border-radius: 7px;
	padding: 0.8rem 0.5rem;
	color: $light-grey;
	line-height: 1.5rem;
	img {
		align-self: center;
		justify-self: center;
		height: 2.5rem;
	}
}

.name {
	@include span;
	color: black;
}

.item {
	@include span;
	color: $Very-dark-blue;
}

.flx {
	display: flex;
	flex-direction: column;
}

.priv {
	justify-self: center;
	grid-area: priv;
	margin-top: 0.7rem;
	padding: 1rem;
	border-radius: 7px;
	line-height: 1.2rem;
	&:hover {
		cursor: pointer;
		background-color: $priv;
	}
}

.kimberly {
	position: relative;
	.k-pic {
		position: absolute;
		right: 1rem;
	}
}

// $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
// &&&&&&&&&&&&&&___MEDIA Q___$$$$$$$$$$$$$$$$$$$$$$$$$$$
// $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
//
//
//

@media (max-width: 375px) {
	.card {
		width: 100vw;
		margin: 0;
		.comment {
			width: 87.5vw;
		}
	}
}

// $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
// &&&&&&&&&&&&&&___JS STYLES___$$$$$$$$$$$$$$$$$$$$$$$$$
// $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
//
//
//

.dot {
	display: inline-block;
	height: 8px;
	width: 8px;
	background-color: $red;
	border-radius: 50%;
}

.unmarked {
	background-color: greenyellow;
}
